.how-to{
  margin: 93px 0 183px 0;
  &__content{
    position: relative;
    h2{
      max-width: 645px;
      margin: 0 0 60px 0;
    }
  }
  &__list{
    max-width: 715px;
    li{
      cursor: pointer;
      position: relative;
      counter-increment: counting;
      padding: 0 112px 0 112px;
      margin: 0 0 60px 0;
      @media (min-width: 1200px) {
        &:hover{
          p{
            opacity: 1;
          }
          &:after{
            opacity: 1;
          }
        }
      }
      &:last-child{
        margin: 0;
      }
      &:before{
        content: counter(counting, decimal-leading-zero);
        position: absolute;
        left: 0;
        top: 0;
        color: $color-white;
        font-size: 24px;
        line-height: 25px;
        padding: 27px;
        border: 1px solid rgba($color-white, 0.3);
      }
      &:after{
        content: '';
        position: absolute;
        top: 54px;
        right: 1px;
        width: 80px;
        height: 12px;
        background-image: url("../img/main-page/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px 12px;
        opacity: 0;
        transition: 300ms;
      }
      p{
        opacity: 0.5;
        color: $color-white;
        font-size: 14px;
        line-height: 21px;
        transition: 300ms;
        strong{
          font-family: 'Romul';
          font-size: 36px;
          line-height: 43px;
        }
      }
      p + p{
        margin: 24px 0 0 0;
      }
    }
  }
  &__img{
    position: absolute;
    top: 94px;
    right: -405px;
    width: 646px;
    height: 646px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1199px) {
  .how-to{
    &__list{
      li{
        p{
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .how-to{
    margin: 100px 0;
    &__content{
      h2{
        margin: 0 0 40px 0;
      }
    }
    &__list{
      li{
        padding: 0 45px 0 56px;
        margin: 0 0 30px 0;
        &:last-child{
          margin: 0;
        }
        p{
          font-size: 12px;
          line-height: 18px;
          strong{
            font-size: 24px;
            line-height: 29px;
          }
        }
        p + p{
          margin: 10px 0 0 0;
        }
        &:before{
          font-size: 12px;
          line-height: 12px;
          padding: 13px;
        }
        &:after{
          top: 10px;
          width: 35px;
          height: 8px;
          background-size: 35px 8px;
        }
      }
    }
    &__img{
      top: 262px;
      right: -206px;
      width: 270px;
      height: 270px;
    }
  }
}

@media (max-width: 424px) {
  .how-to{
    &__list{
      li{
        p{
          strong{
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}