.iframe-block{
  padding: 0 44px 0 0;
  &__container{
    margin: 134px auto 102px;
    max-width: 1265px;
    padding: 0 175px 0 0;
    box-sizing: content-box;
    width: 100%;
  }
  &__content{
    position: relative;
    padding: 0 0 40% 0;
    &:before{
      content: '';
      position: absolute;
      top: -20px;
      right: -20px;
      width: 176px;
      height: 163px;
      background-image: url("../img/main-page/triangle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 176px 163px;
    }
    &_wrapper{
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      top: 0;
      left: 0;
      border-radius: 0px 0px 121px 0px;
      overflow: hidden;
      background-image: url("../img/main-page/play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 144px 144px;
      &:before{
        content: '';
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 144px;
        height: 144px;
        background-image: url("../img/main-page/play.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 144px 144px;
        transition: 300ms;
        pointer-events: none;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 0px 121px 0px;
        transition: 300ms;
      }
      iframe{
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        border-radius: 0px 0px 121px 0px;
      }
      &.active{
        &:before{
          opacity: 0;
        }
        img{
          pointer-events: none;
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .iframe-block{
    padding: 0 34px 0 0;
    &__content{
      padding:  0 0 45% 0;
      &:before{
        content: '';
        width: 124px;
        height: 115px;
        top: -10px;
        right: -10px;
        background-size: 124px 115px;
      }
    }
  }
}

@media (max-width: 474px) {
  .iframe-block{
    &__content{
      padding:  0 0 70% 0;
    }
  }
}