.iframe-block {
  padding: 0 44px 0 0;
  margin: 134px 0 93px;

  &__container {
    margin: 0 auto;
    max-width: 1265px;
    padding: 0 175px 0 0;
    box-sizing: content-box;
    width: 100%;
  }

  &__player {
    position: relative;
    padding: 0 0 40% 0;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      right: -20px;
      width: 176px;
      height: 163px;
      background-image: url("../img/main-page/triangle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 176px 163px;
    }

    .player {
      &__iframe {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        top: 0;
        left: 0;
        border-radius: 0px 0px 121px 0px;
        overflow: hidden;

        &_preview {
          position: absolute;
          cursor: pointer;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0px 0px 121px 0px;
          transition: 300ms;

          &.active {
            opacity: 0;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &:before {
            content: '';
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 144px;
            height: 144px;
            background-image: url("../img/main-page/play.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 144px 144px;
            transition: 300ms;
            pointer-events: none;
          }
        }

        iframe {
          position: relative;
          width: 100%;
          height: 100%;
          border: 1px solid transparent;
          border-radius: 0px 0px 121px 0px;
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .iframe-block {
    margin: 36px 0 100px 0;
    padding: 0 34px 0 0;

    &__player {
      padding: 0 0 45% 0;

      &:before {
        content: '';
        width: 124px;
        height: 115px;
        top: -10px;
        right: -10px;
        background-size: 124px 115px;
      }

      .player {
        &__iframe {
          &_preview {
            &:before {
              width: 55px;
              height: 55px;
              background-size: 55px 55px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 474px) {
  .iframe-block {
    &__player {
      padding: 0 0 72% 0;
    }
  }
}