.our-history{
  margin: 160px 0 80px;
  h2{
    margin:0 0 51px 0 ;
  }
  &__list{
    li{
      display: flex;
      justify-content: space-between;
      padding: 48px 48px 56px 56px;
      border: 1px solid rgba($color-white, 0.3);
      margin: 31px 0 0 0;
      &:first-child{
        margin: 0;
      }
      &.reverse{
        .our-history{
          &__text{
            order: 2;
            margin: 0 0 0 30px;
          }
          &__img{
            order: 1;
          }
        }
      }
    }
  }
  &__text{
    position: relative;
    flex: 0 1 528px;
    margin: 0 30px 0 0;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -25px;
      width: 18px;
      height: 18px;
      background-image: url("../img/main-page/triangle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
      transform: rotate(180deg);
    }
    span{
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: $color-grey;
      margin: 0 0 20px 0;
      letter-spacing: 0.04em;
    }
    p{
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      color: $color-white;
    }
  }
  &__img{
    flex: 0 1 400px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}