.our-history {
  margin: 160px 0 73px;

  h2 {
    margin: 0 0 51px 0;
  }

  &__list {
    li {
      cursor: pointer;
      border: 1px solid rgba($color-white, 0.3);
      margin: 31px 0 0 0;

      a {
        display: flex;
        justify-content: space-between;
        padding: 48px 48px 56px 56px;
      }

      @media (min-width: 1200px) {
        &:hover {
          .our-history {
            &__img {
              img {
                transform: scale(1.1);
              }
            }

            &__text {
              p {
                color: $color-primary;
              }
            }
          }
        }
      }

      &:first-child {
        margin: 0;
      }

      &.reverse {
        .our-history {
          &__text {
            order: 2;
            margin: 0 0 0 30px;
          }

          &__img {
            order: 1;
          }
        }
      }
    }
  }

  &__text {
    position: relative;
    flex: 0 1 528px;
    margin: 0 30px 0 0;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -25px;
      width: 18px;
      height: 18px;
      background-image: url("../img/main-page/triangle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
      transform: rotate(180deg);
    }

    span {
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: $color-grey;
      margin: 0 0 20px 0;
      letter-spacing: 0.04em;
    }

    p {
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      color: $color-white;
      transition: 300ms;
    }
  }

  &__img {
    overflow: hidden;
    flex: 0 1 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 300ms;
    }
  }
}

@media (max-width: 767px) {
  .our-history {
    &__list {
      li {
        margin: 20px 0 0 0;

        a {
          position: relative;
          padding: 32px 32px 82px 32px;
          flex-direction: column;

          &:before {
            content: '';
            position: absolute;
            left: 32px;
            bottom: 32px;
            width: 18px;
            height: 18px;
            background-image: url("../img/main-page/triangle.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px 18px;
            transform: rotate(180deg);
          }
        }

        &.reverse {
          .our-history {
            &__text {
              order: initial;
              margin: 0 0 30px 0;
            }

            &__img {
              order: initial;
            }
          }
        }
      }
    }

    &__text {
      order: 2;
      flex: initial;
      margin: 30px 0 0 0;

      &:before {
        display: none;
      }
    }

    &__img {
      max-width: 100%;
      height: 200px;
      order: 1;
      flex: initial;
    }
  }
}

@media(max-width: 567px) {
  .our-history {
    margin: 100px 0 60px 0;

    &__text {
      p {
        font-size: 18px;
        line-height: 21px;
      }

      span {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}