.we-learn {
  margin: 183px 0 160px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 66px 0 0 0;

    p {
      line-height: 24px;
    }

    &_left {
      flex: 0 1 470px;

      li {
        display: flex;
        margin: 0 0 24px 0;

        &:last-child {
          margin: 0;
        }

        span {
          font-family: 'Romul';
          font-size: 70px;
          line-height: 84px;
          color: $color-white;
        }

        p {
          margin: 18px 0 0 24px;
        }
      }
    }

    &_right {
      flex: 0 1 416px;
    }
  }

}

@media (max-width: 1023px) {
  .we-learn {
    &__content {
      margin: 40px 0 50px 0;
      flex-direction: column;

      &_left {
        flex: initial;
        margin: 0 0 50px 0;

        li {
          margin: 0 15px 15px 0;

          p {
            margin: 6px 0 0 24px;
          }
        }
      }

      &_right {
        flex: initial;
      }
    }
  }
}

@media (max-width: 767px) {
  .we-learn {
    margin: 100px 0;

    &__content {
      p {
        font-size: 12px;
        line-height: 18px;
      }

      &_left {
        li {
          span {
            font-size: 40px;
            line-height: 48px;
          }
        }
      }
    }
  }
}