.why-us{
  margin: 0 0 134px 0;
  &__top{
    display: flex;
    justify-content: space-between;
    h2{
      flex: 0 1 528px;
      margin: 0 20px 0 0;
    }
    p{
      flex: 0 1 417px;
      line-height: 24px;
    }
  }
}

@media (max-width: 1023px) {
  .why-us{
    margin: 0 0 36px 0;
    &__top{
      h2, p {
        flex: initial;
      }
      h2{
        margin: 0 0 20px 0;
      }
      p{
        line-height: 18px;
      }
      flex-direction: column;
    }
  }
}
