.wrapper {
  overflow: hidden;
  min-height: 100%;
  background-color: $color-black;
}

.container {
  max-width: 1087px;
  padding: 0px 24px;
  margin: 0px auto;
  box-sizing: content-box;

  &._l {
    max-width: 1310px;
  }
}

.root {
  padding: 105px 0 0 0;
  @media(max-width: 1023px) {
    padding: 74px 0 0 0;
  }
}

// .ibg{
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	background-position: right;
// 	img{display: none;}
// }

// .main-screen {
// 	flex: 1 0 100%;
// 		&__bg {
// 			position: absolute;
// 			width: 100%;
// 			height: 100%;
// 			top: 0;
// 			left: 0;
//             @media(max-width: 1023px){
//                 position: fixed;
//             }
// 		}
// }