.button{
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $color-grey;
  text-transform: uppercase;
  padding: 17px 20px;
  border: 1px solid $color-primary;
  background-color: transparent;
  transition: 300ms;
  @media (min-width: 1200px) {
    &:hover{
      background-color: rgba($color-primary, 0.2);
    }
  }
  &._grey{
    border: 1px solid $color-grey;
    @media (min-width: 1200px) {
      &:hover{
        background-color: rgba($color-grey, 0.3);
      }
    }
  }
  &._red{
    background-color: $color-red;
    border: initial;
    @media (min-width: 1200px) {
      &:hover{
        background-color: $color-red-dark;
      }
    }
  }
  &._primary{
    padding: 17px 33px;
    color: $color-black;
    background-color: $color-primary;
    @media (min-width: 1200px) {
      &:hover{
        border: 1px solid $color-primary-dark;
        color: $color-white;
        background-color: $color-primary-dark;
      }
    }
  }
  &._auth{
    position: relative;
    white-space: nowrap;
    padding: 17px 20px 17px 47px;
    &:before{
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      left: 17px;
      width: 16px;
      height: 16px;
      background-image: url("../img/user.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
    }
    &.super-user{
      &:before{
        width: 17px;
        height: 12px;
        background-image: url("../img/crown.svg");
        background-size: 17px 12px;
      }
    }
  }
}
.common-link{
  &.active{
    a{
      color: $color-primary;
      border-bottom: 3px solid $color-primary;
    }
  }
  a{
    display: block;
    padding: 15px 25px;
    color: $color-grey;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    transition: 300ms;
  }
  @media (min-width: 1200px) {
    &:hover{
      a{
        color: $color-primary;
      }
    }
  }
}
.common-logo{
  a{
    display: block;
    position: relative;
    z-index: 3;
    width: 213px;
    height: 27px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 474px) {
      width: 144px;
      height: 18px;
    }
  }
}
.info-cards{
  display: flex;
  flex-wrap: wrap;
  margin: 112px -16px -16px;
  li{
    width: calc((100% - (16px * 6))/3);
    margin: 16px;
    padding: 50px 50px 84px 50px;
    border: 1px solid rgba($color-white, 0.3);
    img{
      width: auto;
      height: 64px;
      margin: 0 0 36px 0;
    }
    p{
      line-height: 24px;
      strong{
        font-family: 'Romul';
        font-size: 20px;
        line-height: 24px;
      }
    }
    p + p{
      margin: 20px 0 0 0;
    }
  }
  @media (max-width: 1023px) {
    margin: 38px -16px -16px;
    li{
      width: calc((100% - (16px * 4))/2);
    }
  }
  @media (max-width: 767px) {
    margin: 37px 0 -10px;
    li{
      padding: 40px 50px 40px 30px;
      margin: 10px 0;
      width: 100%;
      img{
        margin: 0 0 33px 0;
      }
      p{
        line-height: 18px;
      }
    }
  }
}
.decor-line{
  margin: 73px 0 90px 0;
  height: 51px;
  width: 100vw;
  background-image: url("../img/decor-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 767px) {
    margin: 60px 0;
  }
}
.input{
  background: transparent;
  padding: 35px 30px 35px 30px;
  border: 1px solid rgba($color-white, 0.3);
  width: 100%;
  color: $color-white;
  &::placeholder{
    font-weight: 500;
    line-height: 24px;
    color: rgba($color-white, 0.3);
  }
  &:focus{
    color: $color-white;
    border: 1px solid $color-white;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}

//error validate classes
.input-container{
  position: relative;
  display: block;
  input{
    &.validate-error{
      border: 1px solid $color-red-error;
      color: $color-red-error;
      &::placeholder{
        color: rgba($color-red-error, 0.3);
      }
    }
  }
  div{
    &.validate-error{
      position: absolute;
      left: 0;
      bottom: -15px;
      color: $color-red-error;
      font-size: 12px;
    }
  }
}
//finish error validate classes


