.sign-in{
  display: none;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-white, 0.01);
    backdrop-filter: blur(10px);
  }
  &.active-popup{
    display: block;
  }
  &.popup-universal{
    .sign-in{
      &__content{
        padding: 61px 68px 72px;
      }
      &__title{
        p{
          font-weight: 500;
          line-height: 24px;
          &:first-child{
            margin: 0 0 40px 0;
          }
        }
      }
      &__bottom{
        display: flex;
        justify-content: center;
        margin: 60px 0 0 0;
        .button{
          padding: 17px 0;
          width: 100%;
          max-width: 200px;
          &._grey{
            background-color: rgba(#212327, 1);
            border: initial;
            &:hover{
              background-color: rgba(#212327, 0.5);
            }
          }
        }
        button+button{
          margin: 0 0 0 16px;
        }
      }
    }
  }
  &__wrapper{
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    max-width: 640px;
    box-sizing: content-box;
    margin: 0 auto;
    max-height: 100%;
    overflow-y: auto;
  }
  &__content{
    position: relative;
    border: 1px solid rgba($color-primary, 0.3);
    padding: 50px 112px;
    background: $color-black;
    text-align: center;
    margin: 25px;
    &.forgotten{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      &.active{
        display: flex;
      }
      .sign-in{
        &__title{
          p{
            font-size: 12px;
            line-height: 25px;
            font-weight: 400;
          }
        }
        &__bottom{
          p{
            position: relative;
            display: inline-block;
            padding: 0 0 0 36px;
            cursor: pointer;
            max-width: initial;
            margin: 0;
            font-size: 12px;
            line-height: 25px;
            &:before{
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 18px;
              height: 10px;
              background-size: 18px 10px;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url("../img/main-page/arrow-string.svg");
              transition: 300ms;
            }
            @media (min-width: 1200px) {
              &:hover{
                &:before{
                  left: -5px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__title{
    p{
      font-size: 16px;
      line-height: 25px;
      font-weight: 600;
      &:first-child{
        margin: 0 0 20px 0;
      }
      strong{
        display: block;
        font-family: 'Romul';
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
  &__form{
    margin: 25px 0 27px 0;
    display: flex;
    flex-direction: column;
    label{
      margin: 0 0 22px 0;
      &:last-of-type{
        margin: 0;
      }
      input{
        padding: 24px;
      }
    }
    p{
      margin: 18px 0 16px 0;
      font-size: 12px;
      line-height: 25px;
      font-weight: 500;
      text-align: left;
      span{
        cursor: pointer;
        color: $color-grey;
        transition: 300ms;
        @media (min-width: 1200px) {
          &:hover{
            color: $color-white;
          }
        }
      }
    }
    button{
      margin: 27px 0 0 0;
    }
    p+button{
      margin: 0;
    }
  }
  &__bottom{
    p{
      margin: 27px auto 0;
      max-width: 263px;
      font-size: 10px;
      line-height: 15px;
      span{
        color: $color-blue;
      }
      strong{
        font-size: 12px;
        line-height: 25px;
        font-weight: 500;
      }
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 14px 0 0 0;
      li{
        margin: 0 20px 0 0;
        &:last-child{
          margin: 0;
        }
        a{
          display: block;
          svg{
            fill: $color-grey;
            width: 24px;
            height: 24px;
          }
          @media (min-width: 1200px) {
            &:hover{
              svg{
                fill: $color-primary;
              }
            }
          }
        }
      }
    }
  }
  &__cross{
    cursor: pointer;
    position: absolute;
    top: 44px;
    right: 44px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
    padding: 10px;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 15px;
      background: $color-white;
      &:first-child{
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
      &:last-child{
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }
}

@media (max-width: 767px) {
  .sign-in{
    &__title{
      p{
        font-size: 12px;
        line-height: 14px;
        strong{
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    &__content{
      padding: 52px 30px;
    }
    &__form{
      input{
        padding: 24px 19px;
      }
    }
  }
}

@media (max-width: 567px) {
  .sign-in{
    &.popup-universal{
      .sign-in{
        &__content{
          padding: 50px 30px 30px;
        }
        &__title{
          p{
            &:first-child{
              margin: 0 0 30px 0;
            }
          }
        }
        &__bottom{
          flex-direction: column;
          margin: 32px 0 0 0;
          .button{
            max-width: 100%;
            &:first-child{
              order: 2;
            }
          }
          button+button{
            margin: 0 0 15px 0;
          }
        }
      }
    }
  }
}