$fontfamily: "Roboto", sans-serif;
$minwidth: 320px;
//colors
$color-black: #070C11;
$color-grey: #B9B9B9;
$color-grey-300: #F9F9F9;
$color-grey-400: #F3F3F3;
$color-grey-800: #8C8C8C;
$color-primary: #C7A363;
$color-primary-dark: #9A7E4C;
$color-white: #fff;
$color-blue: #3153A6;