@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Romul";
  font-display: swap;
  src: url("../fonts/Romul.woff") format("woff"), url("../fonts/Romul.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  background-color: #070C11;
}

.container {
  max-width: 1087px;
  padding: 0px 24px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container._l {
  max-width: 1310px;
}

.root {
  padding: 96px 0 0 0;
}

.page {
  position: relative;
  z-index: 2;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #B9B9B9;
  text-transform: uppercase;
  padding: 17px 20px;
  border: 1px solid #C7A363;
  background-color: transparent;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.button._grey {
  border: 1px solid #B9B9B9;
}

.header {
  padding: 37px 0 10px 0;
  background-color: #070C11;
}

.header__logo {
  position: relative;
  z-index: 3;
  width: 213px;
  height: 27px;
}

.header__logo a {
  display: block;
}

.header__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 44px;
}

.header__wrapper_nav ul li.active a {
  color: #C7A363;
  border-bottom: 3px solid #C7A363;
}

.header__wrapper_nav ul li a {
  display: block;
  padding: 15px 25px;
  color: #B9B9B9;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__cross {
  display: none;
}

.header button + button {
  margin: 0 32px 0 6px;
}

.header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #B9B9B9;
  width: 78px;
  height: 40px;
  border-left: 1px solid #B9B9B9;
}

.header p span {
  position: relative;
  cursor: pointer;
  padding: 0 31px 0 0;
}

.header p span:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 10px;
  background-image: url("../img/tip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 10px;
}

@media (min-width: 1024px) {
  .button:hover {
    background-color: rgba(199, 163, 99, 0.2);
  }

  .button._grey:hover {
    background-color: rgba(185, 185, 185, 0.3);
  }

  .header__wrapper_nav ul li:hover a {
    color: #C7A363;
  }
}

@media (max-width: 1023px) {
  .root {
    padding: 39px 0 0 0;
  }

  .header__content:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 74px;
    background: #070C11;
  }

  .header__cross {
    position: relative;
    z-index: 3;
    display: block;
    height: 12px;
    width: 18px;
    padding: 5px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }

  .header__cross span {
    position: absolute;
    left: 5px;
    width: 18px;
    height: 2px;
    border-radius: 20px;
    background-color: #C7A363;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }

  .header__cross span:nth-child(1) {
    top: 5px;
  }

  .header__cross span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header__cross span:nth-child(3) {
    bottom: 5px;
  }

  .header__wrapper {
    position: fixed;
    z-index: 1;
    top: -100vh;
    left: 0;
    background-color: #070C11;
    width: 100%;
    height: 100vh;
    padding: 0 24px;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .header__wrapper_nav {
    overflow-y: auto;
    padding: 96px 0;
    max-height: 100%;
    display: grid;
    grid-template-areas: "a a a" "b c d";
    grid-template-columns: 1fr 1fr minmax(40px, 80px);
  }

  .header__wrapper_nav ul {
    grid-area: a;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 28px 0;
  }

  .header__wrapper_nav ul li {
    width: 100%;
  }

  .header__wrapper_nav ul li.active a {
    border-bottom: 1px solid #C7A363;
  }

  .header__wrapper_nav ul li a {
    padding: 28px 0;
    border-bottom: 1px solid #B9B9B9;
  }

  .header__wrapper_nav button:nth-of-type(1) {
    grid-area: b;
  }

  .header__wrapper_nav button:nth-of-type(2) {
    grid-area: c;
  }

  .header__wrapper_nav p {
    grid-area: d;
    width: 100%;
  }

  .header.active .header__cross span {
    background-color: #B9B9B9;
  }

  .header.active .header__cross span:nth-child(1),
  .header.active .header__cross span:nth-child(3) {
    left: 0;
  }

  .header.active .header__wrapper {
    top: 0;
  }
}

@media (max-width: 374px) {
  .header__logo {
    width: 144px;
    height: 18px;
  }

  .header__wrapper_nav ul li a {
    font-size: 16px;
    line-height: 25px;
  }

  .header button + button {
    margin: 0 20px 0 6px;
  }
}

@media (max-width: 359px) {
  .header button + button {
    margin: 0 10px 0 4px;
  }

  .header p span {
    padding: 0 20px 0 0;
  }
}