@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Romul";
  font-display: swap;
  src: url("../fonts/Romul.woff") format("woff"), url("../fonts/Romul.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  background-color: #070C11;
}

.container {
  max-width: 1087px;
  padding: 0px 24px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container._l {
  max-width: 1310px;
}

.root {
  padding: 96px 0 0 0;
}

.page {
  position: relative;
  z-index: 2;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #B9B9B9;
  text-transform: uppercase;
  padding: 17px 20px;
  border: 1px solid #C7A363;
  background-color: transparent;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.button:hover {
  background-color: rgba(199, 163, 99, 0.2);
}

.button._grey {
  border: 1px solid #B9B9B9;
}

.button._grey:hover {
  background-color: rgba(185, 185, 185, 0.3);
}

.header {
  padding: 37px 0 0 0;
  background-color: #070C11;
}

.header__logo {
  width: 213px;
  height: 27px;
}

.header__logo a {
  display: block;
}

.header__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header button + button {
  margin: 0 32px 0 6px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 44px;
}

.header__nav ul li.active a {
  color: #C7A363;
  border-bottom: 3px solid #C7A363;
}

.header__nav ul li a {
  display: block;
  padding: 15px 25px;
  color: #B9B9B9;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__nav ul li:hover a {
  color: #C7A363;
}

.header p {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #B9B9B9;
  padding: 13px 31px;
  border-left: 1px solid #B9B9B9;
}

.header p span {
  cursor: pointer;
}

.header p:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 10px;
  background-image: url("../img/tip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 10px;
}

@media (max-width: 1023px) {
  .root {
    padding: 39px 0 0 0;
  }
}