@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Romul";
  font-display: swap;
  src: url("../fonts/Romul.woff") format("woff"), url("../fonts/Romul.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
.H-1,
h2,
.H-2,
h3,
.H-3,
h4,
.H-4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1,
.H-1,
h2,
.H-2,
h3,
.H-3,
h4,
.H-4 {
  font-family: "Romul";
  color: #C7A363;
  font-weight: 400;
}

h1,
.H-1 {
  font-size: 80px;
  line-height: 100%;
}

h2,
.H-2 {
  font-size: 50px;
  line-height: 58px;
}

h3,
.H-3 {
  font-size: 36px;
  line-height: 40px;
}

h4,
.H-4 {
  font-size: 20px;
  line-height: 22px;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #B9B9B9;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  background-color: #070C11;
}

.container {
  max-width: 1087px;
  padding: 0px 24px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container._l {
  max-width: 1310px;
}

.root {
  padding: 105px 0 0 0;
}

.button {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #B9B9B9;
  text-transform: uppercase;
  padding: 17px 20px;
  border: 1px solid #C7A363;
  background-color: transparent;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.button._grey {
  border: 1px solid #B9B9B9;
}

.button._primary {
  padding: 17px 33px;
  color: #070C11;
  background-color: #C7A363;
}

.button._auth {
  position: relative;
  white-space: nowrap;
  padding: 17px 20px 17px 47px;
}

.button._auth:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 17px;
  width: 16px;
  height: 16px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.button._auth.super-user:before {
  width: 17px;
  height: 12px;
  background-image: url("../img/crown.svg");
  background-size: 17px 12px;
}

.common-link.active a {
  color: #C7A363;
  border-bottom: 3px solid #C7A363;
}

.common-link a {
  display: block;
  padding: 15px 25px;
  color: #B9B9B9;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.common-logo a {
  display: block;
  position: relative;
  z-index: 3;
  width: 213px;
  height: 27px;
}

.common-logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 37px 0 10px 0;
  background-color: #070C11;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 44px;
}

.header__cross {
  display: none;
}

.header button + button {
  margin: 0 0 0 6px;
}

.header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #B9B9B9;
  width: 78px;
  height: 40px;
  border-left: 1px solid #B9B9B9;
  margin: 0 0 0 32px;
}

.header p span {
  position: relative;
  cursor: pointer;
  padding: 0 31px 0 0;
}

.header p span:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 10px;
  background-image: url("../img/tip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 10px;
}

.footer {
  position: relative;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 42px 0;
  border-top: 1px solid rgba(249, 249, 249, 0.3);
  border-bottom: 1px solid rgba(249, 249, 249, 0.3);
}

.footer__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__panel_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}

.footer__panel_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 44px;
}

.footer__panel_nav button + button {
  margin: 0 0 0 6px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px;
}

.footer__links._mob {
  display: none;
}

.footer__links li {
  margin: 0 8px;
}

.footer__links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #B9B9B9;
  width: 48px;
  height: 48px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__links li a svg {
  fill: #B9B9B9;
  height: 17px;
  width: 17px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__links li:hover a {
  border: 1px solid #C7A363;
  background-color: #C7A363;
}

.footer__links li:hover a svg {
  fill: #fff;
}

.footer p {
  position: relative;
  font-size: 13px;
  line-height: 25px;
  color: #B9B9B9;
  text-align: center;
  padding: 21px 24px 55px;
}

.footer p:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
  background-image: url("../img/decor-border.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-block {
  position: relative;
  padding: 188px 0 364px 0;
}

.hero-block__content {
  position: relative;
  z-index: 2;
}

.hero-block__content h1,
.hero-block__content .H-1 {
  margin: 0 0 45px 0;
}

.hero-block__content p {
  max-width: 640px;
  margin: 20px 0;
}

.hero-block__content .button {
  margin: 55px 0 0 0;
}

.hero-block__img {
  position: absolute;
  top: 8px;
  right: -50px;
  width: 646px;
  height: 748px;
}

.hero-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-us {
  margin: 0 0 134px 0;
}

.why-us__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-us__top h2,
.why-us__top .H-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 528px;
          flex: 0 1 528px;
  margin: 0 20px 0 0;
}

.why-us__top p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 417px;
          flex: 0 1 417px;
  line-height: 24px;
}

.why-us__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 112px -16px -16px;
}

.why-us__bottom li {
  width: calc((100% - 96px) / 3);
  margin: 16px;
  padding: 50px 50px 84px 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.why-us__bottom li img {
  width: auto;
  height: 64px;
  margin: 0 0 36px 0;
}

.why-us__bottom li p {
  line-height: 24px;
}

.why-us__bottom li p strong {
  font-family: "Romul";
  font-size: 20px;
  line-height: 24px;
}

.why-us__bottom li p + p {
  margin: 20px 0 0 0;
}

.iframe-block {
  padding: 0 44px 0 0;
}

.iframe-block__container {
  margin: 134px auto 102px;
  max-width: 1265px;
  padding: 0 175px 0 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
}

.iframe-block__content {
  position: relative;
  padding: 0 0 40% 0;
}

.iframe-block__content:before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 176px;
  height: 163px;
  background-image: url("../img/main-page/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 176px 163px;
}

.iframe-block__content_wrapper {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  border-radius: 0px 0px 121px 0px;
  overflow: hidden;
  background-image: url("../img/main-page/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 144px 144px;
}

.iframe-block__content_wrapper:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 144px;
  height: 144px;
  background-image: url("../img/main-page/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 144px 144px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  pointer-events: none;
}

.iframe-block__content_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 0px 121px 0px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.iframe-block__content_wrapper iframe {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 0px 0px 121px 0px;
}

.iframe-block__content_wrapper.active:before {
  opacity: 0;
}

.iframe-block__content_wrapper.active img {
  pointer-events: none;
  opacity: 0;
}

@media (min-width: 1200px) {
  .button:hover {
    background-color: rgba(199, 163, 99, 0.2);
  }

  .button._grey:hover {
    background-color: rgba(185, 185, 185, 0.3);
  }

  .button._primary:hover {
    border: 1px solid #9A7E4C;
    color: #fff;
    background-color: #9A7E4C;
  }

  .common-link:hover a {
    color: #C7A363;
  }
}

@media (max-width: 1199px) {
  .header__content:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 74px;
    background: #070C11;
  }

  .header__cross {
    position: relative;
    z-index: 3;
    display: block;
    height: 12px;
    width: 18px;
    padding: 5px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }

  .header__cross span {
    position: absolute;
    left: 5px;
    width: 18px;
    height: 2px;
    border-radius: 20px;
    background-color: #C7A363;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }

  .header__cross span:nth-child(1) {
    top: 5px;
  }

  .header__cross span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header__cross span:nth-child(3) {
    bottom: 5px;
  }

  .header__wrapper {
    position: fixed;
    z-index: 1;
    top: -100vh;
    left: 0;
    background-color: #070C11;
    width: 100%;
    height: 100vh;
    padding: 0 24px;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .header__wrapper_nav {
    overflow-y: auto;
    padding: 96px 0;
    max-height: 100%;
    display: grid;
    grid-template-areas: "a a a" "b c d";
    grid-template-columns: 1fr 1fr minmax(40px, 80px);
  }

  .header__wrapper_nav ul {
    grid-area: a;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 28px 0;
  }

  .header__wrapper_nav ul .common-link {
    width: 100%;
  }

  .header__wrapper_nav ul .common-link.active a {
    border-bottom: 1px solid #C7A363;
  }

  .header__wrapper_nav ul .common-link a {
    padding: 28px 0;
    border-bottom: 1px solid #B9B9B9;
  }

  .header__wrapper_nav button:nth-of-type(1) {
    grid-area: b;
  }

  .header__wrapper_nav button:nth-of-type(2) {
    grid-area: c;
  }

  .header__wrapper_nav p {
    grid-area: d;
    width: 100%;
  }

  .header.active .header__cross span {
    background-color: #B9B9B9;
  }

  .header.active .header__cross span:nth-child(1),
  .header.active .header__cross span:nth-child(3) {
    left: 0;
  }

  .header.active .header__wrapper {
    top: 0;
  }

  .header.login .header__content:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 83px;
    width: 16px;
    height: 16px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }

  .header.login .header__wrapper {
    margin: 0;
  }

  .header.login .header__wrapper_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header.login .header__wrapper_nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .header.login .header__wrapper_nav p {
    width: 78px;
  }

  .header.login .header__wrapper_nav button {
    margin: 28px 22px 28px 0;
  }

  .header.login.super-user .header__content:after {
    width: 17px;
    height: 12px;
    background-image: url("../img/crown.svg");
    background-size: 17px 12px;
  }

  .header p {
    margin: 0;
  }

  .header button + button {
    margin: 0 22px 0 6px;
  }

  .footer__content {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }

  .footer__content {
    border-top: initial;
    padding: 20px 0;
  }

  .footer__links {
    margin: 47px -8px 0 -8px;
    display: none;
  }

  .footer__links._mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__panel_nav {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    margin: 0;
  }

  .footer__panel_nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }

  .footer__panel_nav .common-link {
    margin: 0 0 17px 0;
  }

  .footer__panel_nav .common-link.active a {
    border-bottom: 1px solid #C7A363;
  }

  .footer__panel_nav .common-link a {
    padding: 5px 0;
  }

  .footer .button {
    display: none;
  }
}

@media (max-width: 1023px) {
  h1,
  .H-1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2,
  .H-2 {
    font-size: 40px;
    line-height: 42px;
  }

  .root {
    padding: 74px 0 0 0;
  }

  .why-us__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .why-us__top h2,
  .why-us__top .H-2,
  .why-us__top p {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }

  .why-us__top h2,
  .why-us__top .H-2 {
    margin: 0 0 20px 0;
  }

  .why-us__top p {
    line-height: 18px;
  }

  .why-us__bottom {
    margin: 38px -16px -16px;
  }

  .why-us__bottom li {
    width: calc((100% - 64px) / 2);
  }

  .iframe-block {
    padding: 0 34px 0 0;
  }

  .iframe-block__content {
    padding: 0 0 45% 0;
  }

  .iframe-block__content:before {
    content: "";
    width: 124px;
    height: 115px;
    top: -10px;
    right: -10px;
    background-size: 124px 115px;
  }
}

@media (max-width: 767px) {
  h1,
  .H-1 {
    font-size: 40px;
    line-height: 40px;
  }

  h2,
  .H-2 {
    font-size: 30px;
    line-height: 36px;
  }

  .footer__panel_nav {
    margin: 0 0 0 15px;
  }

  .footer__panel_nav .common-link {
    max-width: 150px;
  }

  .hero-block {
    padding: 84px 0 161px 0;
  }

  .hero-block__content h1,
  .hero-block__content .H-1 {
    margin: 0 0 30px 0;
  }

  .hero-block__content p {
    max-width: 400px;
    margin: 10px 0;
  }

  .hero-block__content .button {
    margin: 50px 0 0 0;
  }

  .hero-block__img {
    top: 18px;
    right: -258px;
    width: 440px;
    height: 508px;
  }

  .why-us__bottom {
    margin: 37px 0 -10px;
  }

  .why-us__bottom li {
    padding: 40px 50px 40px 30px;
    margin: 10px 0;
    width: 100%;
  }

  .why-us__bottom li img {
    margin: 0 0 33px 0;
  }

  .why-us__bottom li p {
    line-height: 18px;
  }
}

@media (max-width: 474px) {
  p {
    font-size: 12px;
    line-height: 18px;
  }

  .common-logo a {
    width: 144px;
    height: 18px;
  }

  .footer__panel_nav .common-link:last-child {
    margin: 0;
  }

  .footer__panel_nav .common-link a {
    padding: 0;
  }

  .footer p {
    letter-spacing: initial;
    font-size: 10px;
  }

  .hero-block__content p {
    max-width: 256px;
  }

  .iframe-block__content {
    padding: 0 0 70% 0;
  }
}

@media (max-width: 374px) {
  .header__wrapper_nav ul .common-link a {
    font-size: 16px;
    line-height: 25px;
  }

  .header button + button {
    margin: 0 20px 0 6px;
  }
}

@media (max-width: 359px) {
  .header button + button {
    margin: 0 10px 0 4px;
  }

  .header p span {
    padding: 0 20px 0 0;
  }

  .header.login p span {
    padding: 0 31px 0 0;
  }

  .footer__links li a {
    width: 36px;
    height: 36px;
  }
}