.investment{
  margin: 47px 0 90px 0;
  .product{
    margin: 50px 0;
    &__item{
      display: none;
      &.active{
        display: flex;
      }
      padding: 50px;
      border: 1px solid rgba($color-white, 0.3);
      &-img{
        flex: 1 1 280px;
        height: 200px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-text{
        flex: 1 1 420px;
        margin: 0 55px 0 40px;
        p{
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
          overflow: hidden;
          &:nth-child(1){
            margin: 0 0 20px 0;
          }
          &:nth-child(2){
            min-height: 120px;
          }
          strong{
            font-size: 40px;
            line-height: 47px;
            font-weight: 700;
            color: $color-white;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }
      }
      &-price{
        flex: 1 1 192px;
        text-align: center;
        p{
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          &:first-of-type{
            margin: 26px 0 22px 0;
          }
          strong{
            font-size: 25px;
            line-height: 30px;
            font-weight: 700;
            color: $color-white;
          }
        }
        .button{
          margin: 36px 0 0 0;
          width: 100%;
        }
      }
    }
  }
  .line-items{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 50px 0 40px 0;
    scrollbar-width: none;
    cursor: grab;
    &::-webkit-scrollbar {
      display: none;
    }
    &__item{
      position: relative;
      display: flex;
      align-items: flex-end;
      border: 1px solid rgba($color-white, 0.3);
      flex: 0 0 192px;
      height: 192px;
      padding: 40px 20px;
      margin: 0 31px 0 0;
      transition: 300ms;
      svg{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 18px;
        height: 18px;
        transform: rotate(90deg);
        fill: $color-primary;
        transition: 300ms;
      }
      &.active-link{
        background-color: $color-primary;
          svg{
            fill: $color-white;
          }
      }
      p{
        cursor: pointer;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: $color-white;
      }
      &:last-child{
        margin: 0;
      }
    }
  }
  &__progress-bar{
    position: relative;
    width: 100%;
    height: 16px;
    margin: 40px 0 0 0;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $color-primary;
    }
    span{
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-color: $color-primary;
      transition: 300ms;
    }
  }
}

@media(max-width: 1023px){
  .investment{
    .product{
      margin: 40px 0 16px 0;
      &__item{
        flex-direction: column;
        padding: 32px;
        &-img{
          flex: initial;
        }
        &-text{
          flex: initial;
          margin: 30px 0 0 0;
          p{
            font-size: 12px;
            line-height: 18px;
            -webkit-line-clamp: 7;
            &:nth-child(2){
              min-height: 126px;
            }
            strong{
              font-size: 24px;
              line-height: 28px;
            }
          }
        }
        &-price{
          flex: initial;
          text-align: initial;
          p{
            &:first-of-type{
              margin: 20px 0 22px 0;
            }
          }
          .button{
            margin: 30px 0 0 0;
          }
        }
      }
    }
    .line-items{
      margin: 16px 0 32px 0;
    }
  }
}

@media (max-width: 568px) {
  .investment{
    h2{
      font-size: 24px;
      line-height: 29px;
    }
  }
}