.cabinet{
  margin: 35px 0 90px 0;
  &__content{
    display: flex;
    margin: 50px 0 0 0;
    .sidebar{
      width: 100%;
      max-width: 190px;
      margin: 0 33px 0 0;
      ul{
        li{
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          color: $color-grey-800;
          margin: 0 0 20px 0;
          &:last-child{
            margin: 0;
          }
          a{
            color: $color-grey-800;
            transition: 300ms;
          }
          @media (min-width: 1200px) {
            &:hover{
              color: $color-white;
              a{
                color: $color-white;
              }
            }
          }
          &.active{
            color: $color-white;
            a{
              color: $color-white;
            }
          }
        }
      }
    }
    .profile{
      max-width: 640px;
      padding: 40px 40px 60px;
      border: 1px solid rgba($color-white, 0.3);
      p{
        strong{
          font-size: 34px;
          line-height: 40px;
          font-weight: 700;
        }
      }
      form{
        margin: 20px 0 0 0;
        input{
          margin: 0 0 12px 0;
          padding: 22px 24px;
          &:last-of-type{
            margin: 0;
          }
        }
        button{
          margin: 30px 0 0 0;
        }
      }
      &__bottom{
        margin: 20px 0 0 0;
        a, p{
          font-size: 10px;
          line-height: 15px;
        }
        a{
          color: $color-blue;
          text-decoration: underline;
        }
      }
    }
    .subscription{
      display: flex;
      flex-wrap: wrap;
      margin: -16px;
      width: 100%;
      &__link{
        padding: 37px 48px;
        border: 1px solid rgba($color-white, 0.3);
        min-height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px;
        width: calc((100% - (16px * 4))/2);
        &.current{
          position: relative;
          &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 28px;
            width: 34px;
            height: 56px;
            background-image: url("../img/flag.svg");
            background-size: 34px 56px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover
          }
        }
        p{
          color: $color-white;
          strong{
            line-height: 51px;
            font-weight: 700;
            font-size: 34px;
          }
        }
        &-title{
          margin: 0 0 19px 0;
          p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
          }
        }
        &-price{
          p{
            strong{
              color: $color-white;
            }
            span{
              display: inline-block;
              font-size: 12px;
              line-height: 11px;
              color: $color-grey-800;
            }
          }
          p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: $color-grey-800;
          }
        }
        &-check{
          margin: 50px 0 0 0;
          p{
            margin: 0 0 20px 0;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: $color-grey-800;
          }
        }
      }
    }
    .current-subscribe{
      border: 1px solid rgba($color-white, 0.3);
      padding: 37px 48px 80px;
      width: 100%;
      &__title{
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 0 23px 0;
        p{
          font-size: 12px;
          line-height: 18px;
          font-weight: 500;
          strong, span{
            display: block;
          }
          strong{
            font-size: 34px;
            line-height: 51px;
            font-weight: 700;
          }
          span{
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
          }
        }
        a{
          font-size: 14px;
          line-height: 21px;
          font-weight: 500;
          color: $color-primary;
          transition: 300ms;
          &:hover{
            color: $color-white;
          }
        }
      }
      &__list{
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 42px -75px -13px -32px;
        &:before{
          content: '';
          position: absolute;
          top: 13px;
          right: 50%;
          transform: translateX(-50%);
          width: 2px;
          height: calc(100% - 26px);
          background-color: $color-grey-800;
        }
        li{
          position: relative;
          width: calc((100% - ((75px * 2) + (32px * 2)))/2);
          margin: 13px 75px 13px 32px;
          box-sizing: content-box;
          a{
            display: block;
            padding: 0 50px 0 0;
            p{
              font-size: 12px;
              line-height: 18px;
              font-weight: 500;
              color: $color-grey-800;
              strong{
                font-size: 24px;
                line-height: 36px;
                font-weight: 700;
                color: $color-white;
              }
            }
            svg{
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              width: 24px;
              height: 24px;
              fill: $color-white;
              transition: 300ms;
            }
          }
          @media (min-width: 1200px) {
            &:hover{
              a{
                svg{
                  fill: $color-primary;
                }
              }
            }
          }
        }
      }
    }
    .payment-story{
      width: 100%;
        li{
          &:first-child{
            margin: 0;
          }
          margin: 20px 0 0 0;
        }
        &__no-payment{
          border: 1px solid rgba($color-white, 0.3);
          padding: 40px;
          font-size: 34px;
          line-height: 40px;
          font-weight: 700;
          color: $color-white;
        }
      &__payment{
        position: relative;
        border: 1px solid rgba($color-white, 0.3);
        padding: 34px 40px 40px;
        display: flex;
        flex-wrap: wrap;
        &:before{
          content: '';
          position: absolute;
          right: 40px;
          bottom: 60px;
          width: 18px;
          height: 18px;
          background-image: url("../img/main-page/triangle.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px 18px;
          transform: rotate(90deg);
        }
        &-text{
          flex: 1 0 55%;
          p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            &:last-child{
              margin: 20px 0 0 0;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
            }
            strong{
              font-size: 34px;
              line-height: 40px;
              font-weight: 700;
              color: $color-white;
            }
          }
        }
        &-price{
          flex: 1 0 45%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            &:last-child{
              margin: 14px 0 0 0;
            }
            strong{
              color: $color-white;
              font-size: 25px;
              line-height: 29px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
        &-wallet{
          margin: 27px 0 0 0;
          width: 100%;
          p{
            font-size: 13px;
            line-height: 25px;
            font-weight: 500;
            color: $color-primary;
          }
        }
        &-input{
          display: flex;
          align-items: center;
          margin: 16px 0 0 0;
          input{
            flex: 1 0 60%;
            padding: 20px;
          }
          ul{
            display: flex;
            margin: 0 -10px 0 35px;
            flex: 0 1 40%;
            li{
              cursor: pointer;
              width: 24px;
              height: 24px;
              margin: 0 10px;
              &:first-child{
                margin: 0 10px;
              }
            }
          }
          svg{
            width: 100%;
            height: 100%;
            object-fit: cover;
            fill: $color-primary;
          }
          button{
            width: inherit;
            height: inherit;
            background: transparent;
          }
        }
      }
    }
    .account-delete{
      padding: 40px;
      border: 1px solid rgba($color-white, 0.3);
      width: 100%;
      p{
        max-width: 640px;
        font-size: 16px;
        line-height: 24px;
        &:nth-child(2){
          margin: 23px 0 0 0;
        }
        &:nth-child(3){
          margin: 20px 0 0 0;
        }
        strong{
          font-size: 34px;
          line-height: 40px;
          font-weight: 700;
          color: $color-white;
        }
        span{
          font-weight: 800;
        }
      }
      button{
        margin: 36px 0 0 0;
      }
    }
  }
}
@media (max-width: 1199px) {
  .cabinet{
    &__content{
      .current-subscribe{
        &__title{
          align-items: initial;
          flex-wrap: wrap;
          padding: 0;
          p{
            &:last-of-type{
              margin: 20px 0 30px 0;
            }
            flex: 1 0 100%;
            span{
              position: static;
            }
          }
        }
        &__list{
          margin: 30px 0 0 0;
          &:before{
            display: none;
          }
          li{
            width: 100%;
            margin: 0 0 30px 0;
            &:last-child{
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1023px){
  .cabinet{
    &__content{
      .subscription{
        margin: -16px 0;
        &__link{
          margin: 16px 0;
          width: 100%;
        }
      }
      .payment-story{
        &__payment{
          padding: 30px;
          &:before{
            display: none;
          }
          &-text{
            flex: initial;
            p{
              font-size: 12px;
              line-height: 18px;
              strong{
                font-size: 20px;
                line-height: 24px;
              }
            }
          }
          &-price{
            display: block;
            margin: 27px 0 0 0;
            flex: initial;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cabinet{
    &__content{
      flex-direction: column;
      .sidebar{
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: 1px solid rgba($color-white, 0.3);
        padding: 37px 34px 47px;
      }
      .subscription{
        margin: 10px 0;
        &__link{
          padding: 37px 34px 47px;
          margin: 10px 0;
          &-check{
            button{
              width: 100%;
            }
          }
        }
      }
      .profile{
        padding: 37px 34px 47px;
        margin: 20px 0 0 0;
        max-width: 100%;
        button{
          width: 100%;
        }
      }
      .current-subscribe{
        margin: 20px 0 0 0;
        padding: 29px 30px 50px;
      }
      .payment-story{
        margin: 20px 0 0 0;
        &__no-payment{
          font-size: 20px;
          line-height: 24px;
          padding: 30px;
        }
        &__payment{
          &-input{
            flex-direction: column;
            align-items: flex-start;
            input{
              flex: initial;
            }
            ul{
              margin: 20px 0 0 0;
              flex: initial;
            }
          }
        }
      }
      .account-delete{
        margin: 20px 0 0 0;
        p{
          strong{
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .cabinet{
    &__content{
      margin: 18px 0 0 0;
      .profile{
        p{
          strong{
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
          }
        }
      }
      .sidebar{
        ul{
          li{
            margin: 0 0 23px 0;
          }
        }
      }
      .current-subscribe{
        &__list{
          li{
            a{
              p{
                font-size: 10px;
                line-height: 15px;
                strong{
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .cabinet{
    &__content{
      .subscription{
        &__link{
          p{
            strong{
              font-size: 30px;
              line-height: 34px;
            }
          }
        }
      }
      .current-subscribe{
        &__title{
          p{
            strong{
              font-size: 28px;
              line-height: 30px;
            }
          }
          a{
            flex: 0 1 100%;
          }
        }
      }
    }
  }
}