.cabinet{
  margin: 35px 0 90px 0;
  &__content{
    display: flex;
    margin: 50px 0 0 0;
    .sidebar{
      width: 100%;
      max-width: 190px;
      margin: 0 33px 0 0;
      ul{
        li{
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          color: $color-grey-800;
          margin: 0 0 20px 0;
          &:last-child{
            margin: 0;
          }
          a{
            color: $color-grey-800;
            transition: 300ms;
          }
          @media (min-width: 1200px) {
            &:hover{
              color: $color-white;
              a{
                color: $color-white;
              }
            }
          }
          &.active{
            color: $color-white;
            a{
              color: $color-white;
            }
          }
        }
      }
    }
    .profile{
      max-width: 640px;
      padding: 40px 40px 60px;
      border: 1px solid rgba($color-white, 0.3);
      p{
        strong{
          font-size: 34px;
          line-height: 40px;
          font-weight: 700;
        }
      }
      form{
        margin: 20px 0 0 0;
        input{
          margin: 0 0 12px 0;
          padding: 22px 24px;
          &:last-of-type{
            margin: 0;
          }
        }
        button{
          margin: 30px 0 0 0;
        }
      }
    }
    .subscription{
      display: flex;
      flex-wrap: wrap;
      margin: -16px;
      width: 100%;
      &__link{
        padding: 37px 48px;
        border: 1px solid rgba($color-white, 0.3);
        min-height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px;
        width: calc((100% - (16px * 4))/2);
        &.current{
          position: relative;
          &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 28px;
            width: 34px;
            height: 56px;
            background-image: url("../img/flag.svg");
            background-size: 34px 56px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover
          }
        }
        p{
          color: $color-white;
          strong{
            line-height: 51px;
            font-weight: 700;
            font-size: 34px;
          }
        }
        &-title{
          margin: 0 0 19px 0;
          p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
          }
        }
        &-price{
          p{
            strong{
              color: $color-white;
            }
            span{
              display: inline-block;
              font-size: 12px;
              line-height: 11px;
              color: $color-grey-800;
            }
          }
          p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: $color-grey-800;
          }
        }
        &-check{
          margin: 50px 0 0 0;
          p{
            margin: 0 0 20px 0;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: $color-grey-800;
          }
        }
      }
    }
  }
}
@media(max-width: 1023px){
  .cabinet{
    &__content{
      .subscription{
        margin: -16px 0;
        &__link{
          margin: 16px 0;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cabinet{
    &__content{
      flex-direction: column;
      .sidebar{
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: 1px solid rgba($color-white, 0.3);
        padding: 37px 34px 47px;
      }
      .subscription{
        margin: 10px 0;
        &__link{
          padding: 37px 34px 47px;
          margin: 10px 0;
          &-check{
            button{
              width: 100%;
            }
          }
        }
      }
      .profile{
        padding: 37px 34px 47px;
        margin: 20px 0 0 0;
        max-width: 100%;
        button{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .cabinet{
    &__content{
      margin: 18px 0 0 0;
      .profile{
        p{
          strong{
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
          }
        }
      }
      .sidebar{
        ul{
          li{
            margin: 0 0 23px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .cabinet{
    &__content{
      .subscription{
        &__link{
          p{
            strong{
              font-size: 30px;
              line-height: 34px;
            }
          }
        }
      }
    }
  }
}